* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 70%;
    margin: 2rem auto;
}

.prodotto {
    position: relative;
    margin-right: 1rem;
    float: left;
    height: 350px;
    width: 250px;
    background-image: url(./img/1.webp);
    background-size: cover;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.levi {
    height: 350px;
    width: auto;
}

.sconto {
    position: absolute;
    bottom: 10px;
    left: 0%;
    float: left;
    background-color: red;
    color: white;
}

.green {
    position: absolute;
    bottom: 10px;
    left: 35.4px;
    color: white;
    background-color: green;
    float: left;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 1rem;
}

.prodotto:hover {
    background-image: url(./img/1b.webp);
}

.Prezzo, .Barra {
    font-size: .9rem;
}

.Prezzo, .B {
    font-weight: bold;
}

.Prezzo {
    color: red;
}

.Barra {
    text-decoration: line-through;
}

.text {
    margin-left: 1.5rem;
    position: absolute;
    bottom: 355px;
    left: -23px;
    float: left;
}

.prodotto2 {
    margin-right: 1rem;
    position: relative;
    float: left;
    height: 350px;
    width: 250px;
    background-image: url(./img/2.webp);
    background-size: cover;
}

.prodotto2:hover {
    background-image: url(./img/2b.webp);
}

.text2 {
    margin-left: 1.5rem;
    position: absolute;
    bottom: 355px;
    left: 250px;
    float: left;
}

.prodotto3 {
    position: relative;
    float: left;
    height: 350px;
    width: 250px;
    background-image: url(./img/3.webp);
    background-size: cover;
}

.prodotto3:hover {
    background-image: url(./img/3b.webp);
}

.text3 {
    margin-left: 1.5rem;
    position: absolute;
    bottom: 355px;
    left: 510px;
    float: left;
}

.prodotto4 {
    position: relative;
    float: left;
    margin-top: 4rem;
    margin-right: 1rem;
    height: 350px;
    width: 250px;
    background-image: url(./img/4.webp);
    background-size: cover;
}

.prodotto4:hover {
    background-image: url(./img/4b.webp);
}

.text4 {
    margin-left: 1.5rem;
    position: absolute;
    bottom: -55px;
    left: -23px;
    float: left;
}

.prodotto5 {
    position: relative;
    float: left;
    margin-right: 1rem;
    margin-top: 4rem;
    height: 350px;
    width: 250px;
    background-image: url(./img/5.webp);
    background-size: cover;
}

.prodotto5:hover {
    background-image: url(./img/5b.webp);
}

.text5 {
    margin-left: 1.5rem;
    position: absolute;
    bottom: -55px;
    left: 250px;
    float: left;
}

.prodotto6 {
    position: relative;
    float: left;
    margin-top: 4rem;
    height: 350px;
    width: 250px;
    background-image: url(./img/6.webp);
    background-size: cover;
}

.prodotto6:hover {
    background-image: url(./img/6b.webp);
}

.text6 {
    margin-left: 1.5rem;
    position: absolute;
    bottom: -55px;
    left: 510px;
    float: left;
}

.green2 {
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: white;
    background-color: green;
    float: left;
}